<div class="modal fade" id="editRestrictModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Restricted</h5>
      </div>
      <div class="modal-body">
        <p> Can't process your request, Because there is a Reservation for this room for future dates, Kindly Cancel the Reservation and Try Again!..
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>