<h1>Editing Room</h1>

<%= render "form", room: @room %>

<br>

<div class="mb-3">
  <%= link_to "Show this room", @room, class: 'btn btn-success' %> |
  <%= link_to "Back to room", rooms_path, class: 'btn btn-secondary' %>
</div>
