<h1>Editing feature</h1>

<%= render "form", feature: @feature %>

<br>

<div class="mb-3">
  <%= link_to "Show this feature", @feature, class: 'btn btn-success' %> |
  <%= link_to "Back to features", features_path, class: 'btn btn-secondary' %>
</div>
