<p style="color: green"><%= notice %></p>

<h1>Features</h1>

<div id="features">
  <% @features.each do |feature| %>
    <%= render feature %>
    <p>
      <%= link_to "Show this feature", feature %>
    </p>
  <% end %>
</div>

<%= link_to "New feature", new_feature_path %>
